<p style="color: green"><%= notice %></p>

<%= render @post %>
<img src="https://s3-us-west-2.amazonaws.com/montana-surveytoolimages/general/full-size/635798319093448673.jpg" />
<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
